button{
    background-color: royalblue;
    border: 2px solid black;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: blue;
    color: white;
}